extends layout

block content
	h1 Rally Code Exercises
	section
		p Write some code that accepts an integer and prints the integers from 0 to that input integer in a spiral format.
		input#ex-3-input
		button#ex-3-btn.btn Go
		div.ex-output-3
			table
				tbody
